<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <title>Thi Code</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <asside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Luiz">
            <h1>Luiz Alves</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/LuizHenriqueInacioAlves
                ">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/luizhenf">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCIrmJ1wx6TYVjBNApY_x1Cw">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/luiz.hia/">
                    <i class="bi bi-facebook"></i>
                </a>
                    
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection"></i> Portifólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i> Contato</a>
                </li>
              </ul>
        </nav>
    </asside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-black text-shadow">Luiz Henrique Inácio Alves</h2>
                <span id="subtitle" class="text-black text-shadow">Auxiliar de Enfermagem do Trabalho, Técnico em Informática, Estudante de Engenharia da Computação</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-black pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>              
            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Atualmente trabalho como Auxiliar de Enfermagem e Auxiliar de Enfermagem do Trabalho desde 1989 e estou cursando o 3º ano de Engenharia da Computação pela UNIVESP.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Luiz">
                </div>
                <div class="col-md-8">
                    <h3>Auxiliar de Enfermagem do Trabalho</h3>
                    <p>Atualmente trabalho como Auxiliar de Enfermagem e Auxiliar de Enfermagem do Trabalho desde 1989 e estou cursando o 3º ano de Engenharia da Computação pela UNIVESP.</p>

                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Niver: <span class="fw-lighter">18 de novembro de 1970</span>
                                    </li>
                                    <li class="list-group-item">
                                        Idade: <span class="fw-lighter">51 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade: <span class="fw-lighter">Guaíra</span>
                                    </li>
                                    <li class="list-group-item">
                                        Estado: <span class="fw-lighter">São Paulo</span>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Ouvir músicas</span>
                                    </li>
                                    <li class="list-group-item">
                                        Universidade: <span class="fw-lighter">UNIVESP</span>
                                    </li>
                                    <li class="list-group-item">
                                        Curso: <span class="fw-lighter">Eng da Computação</span>
                                    </li>
                                    <li class="list-group-item">
                                        Experiência: <span class="fw-lighter">30 anos</span>
                                    </li>                                    
                                </ul>
                            </div>
                        </div> 
                        <p>Atualmente trabalho como Auxiliar de Enfermagem e Auxiliar de Enfermagem do Trabalho desde 1989 e estou cursando o 3º ano de Engenharia da Computação pela UNIVESP.</p>                   
                </div>
            </div>

        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Habilidades</h2>
                <p>Atualmente trabalho como Auxiliar de Enfermagem e Auxiliar de Enfermagem do Trabalho desde 1989 e estou cursando o 3º ano de Engenharia da Computação pela UNIVESP.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Saúde Ocupacional</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Treinamentos</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Atendimento de Primeiros Socorros</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">PGRSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Risco x Exames</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Análise de dados</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Excel</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Senior</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Tableau</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Outlook</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                            </div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Responsabilidade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>